
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName shobohat.net
AuthUserFile /home/shobohat/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/shobohat/public_html/_vti_pvt/service.grp

RewriteEngine On
RewriteRule ^(shobohat) - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]


